<%- include('../shared/header') %>

<main>
    <h1>Ajouter un nouveau message : ✉</h1>
    <form method="post">
        

        <a href="/message">Annuler</a>
    </form>
</main>

<%- include('../shared/footer') %>