<%- include('../shared/header') %>

<main>
    <h1>Ajouter un nouveau message : ✉</h1>
    <form method="post">
        <div>
            <label for="author">Pseudo ou Prénom</label>
            <input id="author" name="author" type="text">
        </div>
        <div>
            <label for="title">Titre du message : </label>
            <input id="title" name="title" type="text">
        </div>
        
        <div>
            <label for="msg">Votre message :</label>
            <textarea name="msg" id="msg"></textarea>
        </div>
        
        <div class="checkbox-group">
            <input id="urgent" name="urgent" type="checkbox">
            <label for="urgent">Urgent ?</label>
        </div>


        <a class="button-secondary" href="/message">Annuler</a>
        <input type="submit" value="Ajouter">
    </form>
</main>

<%- include('../shared/footer') %>