
<%- include('../shared/header') %>

<main>
    <h1>Voici la liste des messages : ✉</h1>
    <div>Todo : Afficher la liste</div>
    <a href="/message/add">Ajouter un message</a>
</main>

<%- include('../shared/footer') %>