
<%- include('../shared/header') %>

<main>
    <h1 class="txt-slate">Bienvenue sur notre site de messages personnalisés ! ✉</h1>
    <img src="/images/letter.png" alt="une petite lettre">
</main>

<%- include('../shared/footer') %>