



*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

nav {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #3c4048;


}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    width: 150px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    list-style-type: none;  
    color: #eaeaea;
    letter-spacing: .1rem;
}
nav li:hover {
    color: #00ABB3;
    color: #daa520;

    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: underline;
    text-underline-position: under;
}

nav a {
    text-decoration: none;
}

main{
    position: relative;
    top: 10vh;
    bottom: 20vh;
    padding: 10%;
    min-height: 80vh;
    background-color: #eaeaea;
    color: #3c4048;
}

h1 {
    margin-bottom: 5%;
}



.card {
    display: flex;
    justify-content: space-between;
    margin: 4%; 
    padding: 5%;
    width: 60vw;
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.card p {
    margin-bottom: 3%;
}

img {
    width: 50vw;
}



/* La classe "add" correspond aux boutons 
   pour naviguer vers le fomrulaire : 
    - ajouter un message
    - ajouter un contact
 */
.add {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 30px 3%;
    padding: 10px 20px;
    width: 50vw;
    background-color: #3c4048;
    border-radius: 5px;
    text-align: center;
}
.add:hover {
    background-color: darkgoldenrod;
}
.add a {
    font-weight: 600;
    color: #eaeaea;
    letter-spacing: .1rem;
    text-decoration: none;
}


/* Formulaire */
input:not(input[type='submit']) {
    height: 2em;
    padding: 1rem;
    margin-bottom: 1rem;
}


/* Lien pour ajouter un nouveau message ou contact */
input[type='submit'] {
    background-color: #3c4048;
    color : #eaeaea;
    margin: 30px 3%;
    padding: .6rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
}
input[type='submit']:hover {
    background-color: darkgoldenrod;
}


/* Annuler l'ajout */
.button-secondary {
    color : #3c4048;
    padding: 0.5em 0 ;
    margin : 0.5em 1em;
    text-decoration: none;
    border-bottom: 1px solid darkgoldenrod;
}
.button-secondary:hover {
    color : darkgoldenrod;
    border-bottom: 1px solid #3c4048;
}



.checkbox-group {
    display: flex;
    flex-direction: row;
}
.checkbox-group input {
    height: 1rem;
    width: 1rem;
    margin-right: .5rem;
}



footer {
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3c4048;
    color: #eaeaea;

}




@media screen and (min-width: 768px) {
    .card {
      width: 50vw;
    }
  }
@media screen and (min-width: 1024px) {
    .card {
      width: 40vw;
    }
  }